<div class="dropdown">
<ul id="gear-dropdown" class="gear-dropdown hidden">
<button class="dropbtn" style="font-size:24px">Button <i class="fa fa-gear"></i>
	<li>
		<ul class="editions">
			<span class="dropdown-subtitle">Edition</span>
			<li><a href="#">CSS</a></li>
			<li><a href="#">HTML</a></li>
			<li><a href="#">Javascript</a></li>
			<li><a href="#">Ruby</a></li>
		</ul>
	</li>
	<li>
		<span class="dropdown-subtitle">Help</span>
		<ul class="help">
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</li>
	</button>
</ul>
</div>