// Use the gear_dropdown.png screenshot as a style guide
#gear-dropdown {
    background-color: #ffffff;
    cursor: pointer; 
    color: #000000;
    border: none;
}

#gear-dropdown:hover{
    background-color: #e2e2e2;
    cursor: pointer;
}